<footer class="page-footer font-small">
    <div class="container">
      <div class="row">

        <div class="col-md-3 mx-auto">
          <h5 class="font-weight-bold text-uppercase mt-3"><i class="fas fa-info"></i> O projektu</h5>
        <p>Projekat radio: Radivoje Katanić</p>
        </div>

        <div class="col-md-3 mx-auto">
        <h5 class="font-weight-bold text-uppercase mt-3 mb-2"><i class="fas fa-link"></i> Korisni linkovi</h5>
          <ul class="list-unstyled">
            <li>
              <a href="https://angular.io">https://angular.io</a>
            </li>
            <li>
              <a href="https://getbootstrap.com">https://getbootstrap.com</a>
            </li>
            <li>
              <a href="https://www.w3.org/TR/html">https://www.w3.org/TR/html/</a>
            </li>
            <li>
              <a href="https://www.w3.org/Style/CSS/">https://www.w3.org/Style/CSS/</a>
            </li>
            <li><a href="https://www.typescriptlang.org">https://www.typescriptlang.org</a></li>
          </ul>
        </div>
        <div class="col-md-3 mx-auto">
          <h5 class="font-weight-bold text-uppercase mt-3 mb-2"> <i class="fas fa-link"></i> Korisni linkovi</h5>
            <ul class="list-unstyled">
              <li>
                <a href="https://nodejs.org/en/">https://nodejs.org/en/</a>
              </li>
              <li>
                <a href="https://stackoverflow.com">https://stackoverflow.com</a>
              </li>
              <li>
                <a href="https://github.com/angular">https://github.com/angular</a>
              </li>
              <li>
                <a href="https://fontawesome.com">https://fontawesome.com</a>
              </li>
              <li><a href="https://firebase.google.com">https://firebase.google.com</a></li>
            </ul>
        </div>
      </div>
    </div>

    <hr>

    <ul class="text-center">
      <li class="list-inline-item">
        <a class="btn-floating" href="http://www.angular.io">
        <i class="fab fa-angular"></i>
        </a>
      </li>
      <li class="list-inline-item">
        <a class="btn-floating" href="http://getbootstrap.com">
        <i class="fab fa-bootstrap"></i>
        </a>
      </li>
      <li class="list-inline-item">
        <a class="btn-floating" href="http://www.w3.org/TR/html/">
        <i class="fab fa-html5"></i>
        </a>
      </li>
      <li class="list-inline-item">
        <a class="btn-floating" href="http://www.w3.org/Style/CSS/">
        <i class="fab fa-css3-alt"></i>
        </a>
      </li>
      <li class="list-inline-item">
        <a class="btn-floating" href="http://nodejs.org">
          <i class="fab fa-node-js"></i>
        </a>
      </li>

    </ul>

</footer>
